@font-face {
    font-family: 'Garamond';
    font-display: swap;
    font-style: normal;
    src: url("./AppleGaramond.ttf") format("truetype");
}

@font-face {
    font-family: 'Garamond';
    font-display: swap;
    font-style: light;
    src: url("./AppleGaramond_Light.ttf") format("truetype");
}


@font-face {
    font-family: 'SFDisplay';
    font-display: swap;
    font-style: normal;
    src: url("./SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Andale';
    font-display: swap;
    font-style: normal;
    src: url("./AndaleMono.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    src: url("./InterBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Futura';
    font-display: swap;
    font-style: normal;
    src: url("./Futura_Book.ttf") format("truetype");
}

